---
# Only the main Sass file needs front matter (the dashes are enough)
---

$intro-transition: none;
$global-transition: none;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  p, li, dl {
    font-size: 0.75em;  // equivalent to $type-size-6
  }

  table {
    font-size: 0.6875em;  // equivalent to $type-size-7
  }
}

body {
  h1 {
    margin-top: 0; font-size: 1.25em;
  }

  h2 {
    font-size: 1.15em;
  }

  h3 {
    font-size: 1.05em;
  }

  h4 {
    font-size: 0.95em;
  }

  h5 {
    font-size: 0.85em;
  }

  h6 {
    font-size: 0.75em;
  }

  small, .small {
    font-size: 0.6875em;  // equivalent to $type-size-7
  }
}
